body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('images/background.jpg') no-repeat center center fixed; /* Adicione esta linha */
    background-size: cover; /* Adicione esta linha */
}

#home-container, #quiz-container {
    background: rgba(255, 255, 255, 0.9); /* Adicione um fundo semi-transparente */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.answer-button {
    display: block;
    background: #e7e7e7;
    border: none;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.answer-button:hover {
    background: #d4d4d4;
}

#start-button {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
}

#start-button:hover {
    background-color: #0056b3;
}
